body{
    background: rgb(238, 174,202);
    background: radial-gradient(circle, rgba(283,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
    color: blue;
    text-align: center;
    margin: 70px;
    font-size: 50px;
}
    

.rr-box{
    color: white;
    background-color: #b7b8b86c;
    border-style: ridge;
    border-width: 3px;
    border-color: white;
    border-radius: 25px; 
    width: 400px;
    padding: 10px;
    margin: 150px auto;
}


 .rr-box .rr-info .lets-get-started, div{
    text-align: center;
}

.quiz-box{
    color: white;
    border-style: solid;
    border-color: white;
    width: 500px; 
}

section, h2 .question{
    color: white;
    background: #b7b8b86c;
    width: 500px;
    border: none;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.answer-options .option{
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: none;

}
   
   .submit-btn {
    margin-top: 10px;
    background-color: rgb(65, 228, 65);
    color: white;
    border: none;
   }
    
   

.quiz-box .timer {
    font-weight: bold;
    text-align: right;
    color: white;
}

.timer .danger{
    color: red;
}